.titulo{
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
    margin: 0em;
}
.logo{
    width: 5em;
}
body{
    background-color: rgb(212, 243, 230);
    
}
.redSocial{
    background-color: rgb(223, 241, 234);
    color: black;
    margin-bottom: 2em;
    border-radius: 2em;
    width: 15em;
}
.fa-facebook-square{
    color: blue;
}
.fa-google-plus-square{
    color: red;
}
#search{
    width: 7em;
 }
 .vaku{
    display: flex;
 }
 

/* Estilos generales */

.center {
	text-align: center;
}

/* Estilos Header */


header div img {
	width: 10em;
}

/* Estilos imágen y su contenedor */

.photo{
	text-align: center;
}

img{
	width: 100%;
}

.img {
	text-align: center;
	margin: 2em auto;
	border: 5em solid #FFF;
	box-shadow: 0 0 0.25em 0 rgba(50, 50, 50, 0.2);
}

textarea {
	width: 70%;
	height: 4em;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
	margin: 0 auto;
}

/* Estilos botón agregar */
#btn {
	background-color: rgb(124, 200, 202);
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	margin: 1em auto;
	width: 130px;
	height: 30px;
	display: block;
	color: #FFF;
}

#btn:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */
#cont {
	border-radius: 0.4em;
	margin: 0 auto;
	color: #4E4D53;
	text-align: left;
	margin-bottom: 6em;
	padding: 0 16%;
}

#cont span {
	margin-left: 1em;
}

#cont div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
}

.heart, .trash {
	margin:1em;
	float: right;
	cursor: pointer;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}
.letraMuro{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2em; 
}