.titulo{
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
    margin: 0em;
}
.logo{
    width: 5em;
}

.loguito {
    max-width: 4em;
    margin-left: 28px;
}
body{
    background-color: rgb(212, 243, 230);
    
}
.redSocial{
    background-color: rgb(223, 241, 234);
    color: black;
    margin-bottom: 2em;
    border-radius: 2em;
    width: 15em;
}
.fa-facebook-square{
    color: blue;
}
.fa-google-plus-square{
    color: red;
}
#search{
    width: 7em;
}
.inputBuscardor{
    display: flex;
}

.contAmigos {
    background-color: #C2DEDA;
    margin-top: 20px;
    height: 400px;
}

.fa-user-friends {
    margin-top: 22px;
    font-size: 18px;
}

.contadorDeAmigos {
    height: 15px;
    margin-top: 17px;
    background-color: blueviolet;
}
.imgusuario {
    margin-top: 2em;
    width: 35%;
    border-radius: 50%
}
.imgnavbar{
    margin-top: 1em;
    margin-left: 3em;
    width: 28%;
    border-radius: 50%
}
.texto {
    background-color: aliceblue;
}
.imgpost {
    margin-top: 1em;
    width: 24%;
    border-radius: 50%
}

/* input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
} */

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  #input:active {
    border-bottom: 1px solid black;
  }

p {
	display: inline-block;
	margin-left: 0.5em;
}

.amigoP {
    margin-top: 15px;
    font-size: 19px;
}
.letraMuro{
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 2em; 
}

.fa-whmcs {
    font-size: 23px;
    margin-top: 11px;
    margin-left: 11px;
    color: rgb(109, 107, 107);
} 

.fa-user {
    font-size: 20px;
    margin-top: 33px;
    margin-left: 11px;
    color: rgb(109, 107, 107);
} 

p {
    margin:0;
}

.perf {
    margin-top: 20px;
    cursor: pointer;   
}

.dropdown-trigger {
    background-color: #B4DEDC;
}

.btn:hover {
    background-color: #B4DEDC;
}
.dropdown-content {
    min-width: 175px;
    height: 134;
    top: -44px;
}